{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'courier-deliveries' %}">
            <img src="{% static 'logo.png' %}" alt="booklab logo" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courier-deliveries' %}">Deliveries Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'courier-profile' %}">Manage Profile</a>
                </li>
                <li class="nav-item">
                    <!-- Using the logout URL as defined elsewhere (e.g., in your login or core base) -->
                    <a class="nav-link btn btn-danger text-white" href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
