{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'buyer-landing' %}">
            <img src="{% static 'images/logo_white.png' %}" alt="booklab logo" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buyer-profile' %}">Manage Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buyer-cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buyer-orders' %}">View Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Switch to Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-white" href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>