{% extends "buyer/base.html" %}
{% block title %}My Orders{% endblock %}
{% block content %}

    <div class="container mt-5">
        <h1 class="mb-4">My Orders</h1>

        {% if orders %}
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Order List</h5>
                </div>
                <table class="table table-bordered mb-0">
                    <thead class="table-light">
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th>Placed At</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.status|title }}</td>
                            <td>{{ order.placed_at }}</td>
                            <td>RM{{ order.total_price }}</td>
                            <td>
                                <a class="btn btn-success" href="{% url 'buyer-order-details' order.id %}">
                                    View Details
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info mt-3">
                You have no orders yet.
            </div>
        {% endif %}
    </div>

{% endblock %}
